body
{
background-repeat:no-repeat;
background-attachment:scroll;
background-position:95%;
}

body{
background-color: #C0C0C0;
color: #000;
font-weight: 400;
}

#Informe{
margin-left:220px;
    margin-top:-990px;
    width:1000px;
    height:830px;
    font-size: 28px;
    font-family:'Reenie Beanie',arial,sans-serif; 
    border-radius: 5px;
    color: #111;
    background-image: url(papel.png);
    background-repeat: no-repeat;
    background-color:#FFF;
    background-position:270px, 10px;
}

#header{
font-family: 'Helvetica', arial, serif;
font-size:40px;
text-shadow: 6px 6px 6px #4A766E;
font-weight: 1000;
}

input, textarea{
	border: 5px solid #cbcbcb;
	padding: 6px;
	color: black;
	font-size: 25px;
	
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


#contenedorInfo{
text-align: center;
height: 1000px;
width: 160px;
border-width:3px;
border-style:solid;
border-color:gray;
 
}

.alerta{
	width: 700px;
	min-height: 80px;
 	float: right;
 	padding: 10px;
	color: #525252;
	
	-webkit-box-shadow: 7px 7px 7px #FE9A2E;
	-moz-box-shadow: 4px 4px 4px #FE9A2E;
	box-shadow: 3px 3px 0px #FE9A2E;
	
 	background-color: #FDD017;
	font-size: 20px;
 	
 	margin: 10px 200px 20px 10px; 
	
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 8px;
	
}
